style.css 
{ margin: 10px;
 padding: 5px;
  background-color: 65BA52;
}
h1 {
  font-family: "Luminari", fantasy;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-color: #FFFFFF;
}
body {
  font-family: sans-seriff;
  font-color: #FFFFFF;
  text-align: center;
}

  
  
 
  
