style.css 
body { margin: 10px;
 padding: 5px;
 background-color: #65BA52;

h1 {
  font-family: "Luminari", fantasy;
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
p {
  font-family: sans-serif;
 color: #FFFFFF;
  text-align: center;
}
     }

  
  
 
  
